/* ==========================================
   NABCORE PRIME
   CSS RESET
   reset.css
========================================== */


/* ==========================================
   UNIVERSAL RESET
========================================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* ==========================================
   DOCUMENT
========================================== */

html{
    scroll-behavior:smooth;
}


/* ==========================================
   MEDIA
========================================== */

img,
picture,
video,
canvas,
svg{
    display:block;
    max-width:100%;
}


/* ==========================================
   LINKS
========================================== */

a{
    text-decoration:none;
    color:inherit;
}


/* ==========================================
   LISTS
========================================== */

ul,
ol{
    list-style:none;
}


/* ==========================================
   FORM ELEMENTS
========================================== */

button,
input,
textarea,
select{
    font:inherit;
}


/* ==========================================
   BUTTON
========================================== */

button{
    cursor:pointer;
}


/* ==========================================
   TABLES
========================================== */

table{
    border-collapse:collapse;
    border-spacing:0;
}


/* ==========================================
   HEADINGS
========================================== */

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
}


/* ==========================================
   PARAGRAPHS
========================================== */

p{
    margin:0;
}